.orders-page .orders {
  margin-top: 120px;
}

.orders-page .order-component {
  margin-bottom: 30px;
}

.orders-page .filter-block {
  position: fixed !important;
  top: 0;
  left: 158px;
  right: 158px;
  z-index: 1;
  padding-top: 7px;
  padding-bottom: 5px;
}

.orders-page .filter-block form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders-page .filter-block form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.filter-progress {
  margin-left: -24px;
  margin-bottom: -5px !important;
  width: calc(100% + 48px) !important;
}

@media (max-width: 993px) {
  .orders-page .orders {
    margin-top: 150px;
  }

  .orders-page .filter-block {
    left: 5px;
    right: 5px;
  }

  .orders-page .filter-block form {
    flex-direction: column;
  }

  .orders-page .filter-block form > div {
    margin-top: 5px;
    width: 100%;
  }
}